<ng-container *ngIf="heroe">
    <h1 class="text-center">{{ heroe.name | uppercase }}</h1>
    <a class="goback" (click)="goBack()">Atrás</a>
    <div class="row" class="heroe-profile">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img [src]="heroe.thumbnail.path + '.' + heroe.thumbnail.extension" />
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-8"></div> -->
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h3>Descripción</h3>
            <p>{{ heroe.description }}</p>
            <p class="modified">
                {{ heroe.modified | date: "fullDate" }}, {{ heroe.modified | date: "shortTime" }}
            </p>
            <p *ngIf="team != undefined && team != ''">
                Acabas de clasificar a tu héroe en el equipo
                <b [style.color]="heroesService.group_colors[team]">{{ team }}</b>
            </p>
            <p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="toggle_modal()">
          Clasificar
        </button>
            </p>
        </div>
    </div>
</ng-container>





<div class="page-modal" *ngIf="show_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Title -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title_modal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <!-- Content -->
            <div class="modal-body bg-white">
                <div class="width-400">
                    <div class="no-margin">
                        <div class="red-row"></div>
                        <div class="blue-row"></div>
                        <div class="yellow-row"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center square">
                            <div class="group bg-blue to_the_left hoover" [ngClass]="{'selected': team_selected=='azul'}" (click)="send_team('azul')">Azul</div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center square">
                            <div class="group bg-violet hoover" [ngClass]="{'selected': team_selected=='violeta'}" (click)="send_team('violeta')">Violeta</div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center square">
                            <div class="group bg-orange to_the_left hoover" [ngClass]="{'selected': team_selected=='naranjo'}" (click)="send_team('naranjo')">Naranjo</div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center square">
                            <div class="group bg-green hoover" [ngClass]="{'selected': team_selected=='verde'}" (click)="send_team('verde')">Verde</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>